resource/interface/GUITextures.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GUI">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GUITextures">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GUITexture" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="texture"/>
                    <xs:element name="position">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="x"/>
                          <xs:element type="xs:string" name="y"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="scale">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="x"/>
                          <xs:element type="xs:string" name="y"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

